header {
  background-color: #455A64;
  text-align: center;s
}

header h1 {
  margin: 0;
}

header img {
  height: 32px;
  background
}

input, .enter-btn {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.enter-btn {

}
