body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #455A64;
  text-align: center;s
}

header h1 {
  margin: 0;
  color: white;
  padding-top: 10px;
}

header img {
  height: 32px;
  margin: 0 5px;
}

form {
  height: 200px;
}

input, #enter-btn {
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 90%;
  height: 30px;
}

input {
  font-size: 26px;
  text-align: left;
  font-weight: 400;
}

#enter-btn {
  background-color: #FFC107;
  color: #FFF;
}

.bookmarks {
  background-color: #CFD8DC;
  padding: 5px;
  height: auto;
}

.card {
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.card-title {
  color: #455A64;
  font-weight: 800;
  margin: 0;
}

.card-url {

}

hr {
  color: #CFD8DC;
}

.card-read {

}

.card-delete {
  float: right;
}
